<section>
  <app-header></app-header>

  <div class="topnav">
    <button class="btn" (click)="doNothing(); $event.preventDefault()">Home</button>
      <button class="btn" (click)="addUser(); $event.preventDefault()">Add User</button>
    <button class="btn" (click)="changeInPassword(); $event.preventDefault()">Change password</button>
    <button (click)="logout(); $event.preventDefault()">Logout</button>
</div>
  <div>
<div class="user-img" routerLinkActive="active">
  <a (click)="navigateToUserDetails()">
    <img src="assets/user-logo.jpg">
  </a>
</div>
  <div class="camera-img" routerLinkActive="active">
    <a (click)="navigateToCamera()">
      <img src="assets/camera-logooo.jpg">
    </a>
  </div>
    <div class="notification-img" routerLinkActive="active">
    <a (click)="navigateToNotification()">
      <img src="assets/notification-logo.webp">
    </a>
  </div>
  </div>


</section>

