/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.notification-img {
    width: 400px;
    position: relative;
    /*top: 400px;*/
    /*left: 100px;*/
}

.user-img {
    position: relative;
    width: 400px;
}

.camera-img {
    position: relative;
    width: 400px;
    left: 300px;
}
.btn {
    border: none;
    background:none;
    outline: none;
    background-color: #4CAF50;
    color: white;
    height: 52px;
}
